<style>
    .container-tutoria {
        margin-top:10px;
        width:100%;
    }

    button {
        background-color: #57090C;
        border: 1px solid #57090C;
        color:white;
        cursor:pointer;
        padding:7px;
    }
        button:hover {
            background-color: white;
            color: #57090C;
        }

	.container-ingreso-tuto {
		background:#141414;
		color:white;
	}

		.container-ingreso-tuto li {
			padding-top:8px;
			padding-bottom:2px;
		}

		.container-ingreso-tuto input, select {
			background: #fff;
		}

	@@media only screen and (max-width: 768px) {

		.lista-tuto {
			display: flex;
			flex-flow: column wrap;
			padding: 5px;
		}
			.lista-tuto input, select {
				width:100%;
				
			}

			.lista-tuto button {
				width:100%;
				margin-top:10px;
			}
	}
</style>



<div class="container-tutoria">
     <div class="container-ingreso-tuto">
		 <ul class="lista-tuto">

		 	<li>
		 		<label for="">Estudiante</label><br />
		 		<select id="listaEstudiantes" onchange="listaMateriasEstudianteDocente()"></select>
		 	</li>
		 	<li>
		 		<label for="">Materia</label><br />
		 		<select id="listaMateria"></select>
		 	</li>
		 	<li>
		 		<label>Periódo</label><br />
		 		<select id="listaPeriodo"></select>
		 	</li>
		 	<li>
		 		<label for="">Módulo</label><br />
		 		<select id="listaModulos"></select>
		 	</li>
		 	<li>
		 		<label for="">Obligatorio</label><br />
		 		<select id="listaObligatorio">
		 			<option value="SI">SI</option>
		 			<option value="NO">NO</option>

		 		</select>
		 	</li>


		 	<li>
		 		<label for="">Aula/Oficina</label><br />
		 		<input placeholder="Aula" id="aulaTuto" />
		 	</li>
		 	<li>
		 		<label>Fecha</label>
		 		<input type="date" id="fecha" value="@String.Format("{0:yyyy-MM-dd}",DateTime.Now)" />
		 	</li>

		 	<li>
		 		<button class="success" onclick="ingresarTutoriasDocente()">Ingresar</button>
		 	</li>
		 </ul>
    </div>
    <div class="table-carrera container-scroll">
		<br />
		<h4>Tabla de tutorias actuales</h4>
		<p>No te olvides de confirmar la asistencia, una vez pasada la fecha de la tutoria, la tutoria pasará a la seccion de reportes en el estado actual.</p>
        <table>
            <thead>
				<tr>
					<th>Matrícula</th>
					<th>Estudiante</th>
					<th>Cod Materia</th>
					<th>Materia</th>
					<th>Módulo</th>
					<th>Periódo</th>
					<th>Estado Obligatorio</th>
					<th>Fecha</th>
					<th>Aula</th>
					<th>Asistencia</th>


					@*<th>Accion</th>*@
				</tr>
            </thead>
            <tbody id="tablaHorarioTutorias">
              
            </tbody>


        </table>
    </div>

</div>


<div id="mensajeTutoria" class="container-confirmacion">
	<div style="height: 110px;">
		<h4 id="mensaje"></h4>
		<button class="btnSi" id="btnCerrar">Cerrar</button>
	</div>
</div>


<div id="btnConfirmarTutoria" class="container-confirmacion">
	<div style="height: 110px;">
		<h4>¿Asistió el estudiante a la tutoría impartida esta fecha?</h4>
		<br />
		<button class="btnSi" id="btnSi">SI</button>
		<button class="btnNo" id="btnNo">NO</button>
		<br />
		

	</div>


</div>


<script>

	function confEliminarHorarioE() {

		$('#loadDeleteHorarioE').css('display', 'none');
		$('#btnConfirmarHorarioE').css('display', 'flex');



	}

	$('#btnSiHorarioE').on('click', function () {

		eliminarHorarioClasesEstudiantesMateria();


	});

	$('#btnNoHorarioE').on('click', function () {


		$('#btnConfirmarHorarioE').css('display', 'none');

	});

	///cerrar ingreso tutoria

	$('#btnCerrar').on('click', function () {

		$('#mensajeTutoria').css('display', 'none');


	});

</script>

<script>

	$(document).ready(function () {
	
		listaEstudiantesDocente();
		listaPeriodo();
      
		tablaHorarioTutoriasDocente();
	


    });

    function listaEstudiantesDocente() {


        $.ajax({
            url: "/Docente/estudiantesMateriaDocente",
            data: JSON.stringify({ CodigoMateria: $("#materiasDocente").val() }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (listaEstudiantes) {

                $("#listaEstudiantes").empty();


                var d;
                var a = 0;
                for (var i = 0; i < listaEstudiantes.length; i++) {


                    d += '<option ' +
                        'value="' + listaEstudiantes[i].Matricula + '" ' +
                        '>' + listaEstudiantes[i].Estudiante + '</option>';

                    a++;
                }

                $("#listaEstudiantes").append(d);

				listaMateriasEstudianteDocente();
			
            },
            error: function () {

            }
        });
    }

    function listaModulosDocenteLogin() {
		$.ajax({
			url: "/Docente/listaModulosDocente",
			type: 'post',
			data: { CodigoPeriodo:$('#listaPeriodo').val() },
            success: function (listaModulos) {

                $("#listaModulos").empty();


                var d;
                var a = 0;
                for (var i = 0; i < listaModulos.length; i++) {


					d += '<option ' +
						'value="' + listaModulos[i].CodigoModulo + '" ' +
						'>' + listaModulos[i].CodigoModulo + ' ' + listaModulos[i].Dia + ' ' + listaModulos[i].HoraInicio + ' - ' + listaModulos[i].HoraFin + '</option>';

                    a++;
                }

                $("#listaModulos").append(d);


            },
            error: function () {

            }
        });
    }


    function listaMateriasEstudianteDocente() {
        $.ajax({
            url: "/Docente/listaMateriasEstudiante",
            type: 'post',
            data: JSON.stringify({ Matricula: $("#listaEstudiantes").val() }),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (listaMaterias) {

                $("#listaMateria").empty();


                var d;
                var a = 0;
                for (var i = 0; i < listaMaterias.length; i++) {


                    d += '<option ' +
                        'value="' + listaMaterias[i].CodigoMateria + '" ' +
                        '>' + listaMaterias[i].NombreMateria + '</option>';

                    a++;
                }

                $("#listaMateria").append(d);
			
            },
            error: function () {

            }
        });
    }


    function listaPeriodo() {
        $.ajax({
            url: "/SuperAdmin/listaPeriodo",
            type: 'post',
            datatype: 'application/json',
            success: function (listaPeriodo) {

                $("#listaPeriodo").empty();


                var d;
                var a = 0;
                for (var i = 0; i < listaPeriodo.length; i++) {


                    d += '<option ' +
                        'value="' + listaPeriodo[i].CodigoPeriodo + '" ' +
                        '>' + listaPeriodo[i].NombrePeriodo + '</option>';

                    a++;
                }

				$("#listaPeriodo").append(d);

				listaModulosDocenteLogin();
            },
            error: function () {

            }
        });
    }


    function tablaHorarioTutoriasDocente() {


        $.ajax({
            url: "/Docente/listaTutoriasDocente",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (listaHorariosTutorias) {

                $("#tablaHorarioTutorias").empty();



                var d;
                var a = 0;
                for (var i = 0; i < listaHorariosTutorias.length; i++) {

                    var datos = "'" + listaHorariosTutorias[i].Id_HorarioTutorias + "'";

                    d += '<tr>' +
                        '<td>' + listaHorariosTutorias[i].Matricula + '</td>' +
                        '<td>' + listaHorariosTutorias[i].NombreEstudiante + '</td>' +
                        '<td>' + listaHorariosTutorias[i].CodigoMateria + '</td>' +
                        '<td>' + listaHorariosTutorias[i].NombreMateria + '</td>' +
                        '<td>' + listaHorariosTutorias[i].Modulo + '</td>' +
                        '<td>' + listaHorariosTutorias[i].CodigoPeriodo + '</td>' +
						'<td>' + listaHorariosTutorias[i].EstadoObligatorio + '</td>' +
						'<td>' + listaHorariosTutorias[i].Fecha + '</td>' +
						'<td>' + listaHorariosTutorias[i].Aula + '</td>' +
						'<td>' + listaHorariosTutorias[i].Asistencia + '</td>' +
						
                        '<td>' + '<button   onclick="confirmarAsistencia(' + datos + ')" ></i> Confirmar Asistencia</button>' + '</td>' +
                        '</tr>';

                    a++;
                }



                $("#tablaHorarioTutorias").append(d);

            },
            error: function () {

            }
        });
	}


	var Id = 0;
	function confirmarAsistencia(e) {

		Id = e;

		$('#btnConfirmarTutoria').css('display', 'flex');
	}

	$('#btnSi').on('click', function () {

		confirmada(Id, "SI");

		$('#btnConfirmarTutoria').css('display', 'none');

	});

	$('#btnNo').on('click', function () {

		confirmada(Id, "NO");
		$('#btnConfirmarTutoria').css('display', 'none');

	});


	function confirmada(Id,Confirma) {


		$('#tablaHorarioTutorias').html(
			'<tr id="modalLoad" class="loadingTable"><td><span><i class="fas fa-spinner fa-spin"></i> Cargando...</span></td></tr>'
		);

		$.ajax({
			url: "/Docente/confirmarAsistencia",
			type: "POST",
			data: { Id: Id,Confirma:Confirma },
			success: function (listaHorariosTutorias) {

				$("#tablaHorarioTutorias").empty();



				var d;
				var a = 0;
				for (var i = 0; i < listaHorariosTutorias.length; i++) {

					var datos = "'" + listaHorariosTutorias[i].Id_HorarioTutorias + "'";

					d += '<tr>' +
						'<td>' + listaHorariosTutorias[i].Matricula + '</td>' +
						'<td>' + listaHorariosTutorias[i].NombreEstudiante + '</td>' +
						'<td>' + listaHorariosTutorias[i].CodigoMateria + '</td>' +
						'<td>' + listaHorariosTutorias[i].NombreMateria + '</td>' +
						'<td>' + listaHorariosTutorias[i].Modulo + '</td>' +
						'<td>' + listaHorariosTutorias[i].CodigoPeriodo + '</td>' +
						'<td>' + listaHorariosTutorias[i].EstadoObligatorio + '</td>' +
						'<td>' + listaHorariosTutorias[i].Fecha + '</td>' +
						'<td>' + listaHorariosTutorias[i].Aula + '</td>' +
						'<td>' + listaHorariosTutorias[i].Asistencia + '</td>' +

						'<td>' + '<button   onclick="confirmarAsistencia(' + datos + ')" ></i> Confirmar Asistencia</button>' + '</td>' +
						'</tr>';

					a++;
				}



				$("#tablaHorarioTutorias").append(d);

			},
			error: function () {

			}
		});
	}

	//INGRESAR TUTORIA DEL DOCENTE

	//ingresarTutoria


	function ingresarTutoriasDocente() {



		var horarioTutorias = {
			Matricula: $("#listaEstudiantes").val(),
			CodigoModulo: $("#listaModulos").val(),
			CodigoMateria: $("#listaMateria").val(),
			Fecha: $("#fecha").val(),
			CodigoPeriodo: $("#listaPeriodo").val(),
			EstadoObligatorio: $("#listaObligatorio").val(),
			Aula: $("#aulaTuto").val()


		};

		$('#tablaHorarioTutorias').html(
			'<tr id="modalLoad" class="loadingTable"><td><span><i class="fas fa-spinner fa-spin"></i> Cargando...</span></td></tr>'
		);



		$.ajax({
			url: "/Docente/ingresarTutorias",
			data: JSON.stringify(horarioTutorias),
			type: "POST",
			contentType: "application/json;charset=utf-8",
			dataType: "json",
			success: function (data) {

				$("#tablaHorarioTutorias").empty();

				var listaHorariosTutorias = data.ListaHorariosTutorias;


				var d;
				var a = 0;
				for (var i = 0; i < data.ListaHorariosTutorias.length; i++) {

					var datos = "'" + listaHorariosTutorias[i].Id_HorarioTutorias + "'";

					d += '<tr>' +
						'<td>' + listaHorariosTutorias[i].Matricula + '</td>' +
						'<td>' + listaHorariosTutorias[i].NombreEstudiante + '</td>' +
						'<td>' + listaHorariosTutorias[i].CodigoMateria + '</td>' +
						'<td>' + listaHorariosTutorias[i].NombreMateria + '</td>' +
						'<td>' + listaHorariosTutorias[i].Modulo + '</td>' +
						'<td>' + listaHorariosTutorias[i].CodigoPeriodo + '</td>' +
						'<td>' + listaHorariosTutorias[i].EstadoObligatorio + '</td>' +
						'<td>' + listaHorariosTutorias[i].Fecha + '</td>' +
						'<td>' + listaHorariosTutorias[i].Aula + '</td>' +
						'<td>' + listaHorariosTutorias[i].Asistencia + '</td>' +

						'<td>' + '<button   onclick="confirmarAsistencia(' + datos + ')" ></i> Confirmar Asistencia</button>' + '</td>' +
						'</tr>';

					a++;
				}



				$("#tablaHorarioTutorias").append(d);

				$("#mensaje").text(data.Mensaje);

				$('#mensajeTutoria').css('display', 'flex');


			},
			error: function () {

			}
		});
	}


</script>
